<!DOCTYPE html>
<html>
<title>Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="resource/css/w3.css">
<style>
  .container-custom {
    width:100%;
    font-size:1.2em;
  }
  .w3-card-12-custom {
    width:40%;
    margin:10px;
    text-align:center;
    float:left;
    cursor:pointer;
    border-radius: 7px;
  }
  .w3-card-12-custom:hover {
    background-color: #ffffff;
    font-weight:bold;
    opacity: 0.5;
   }
  .card-img {
    width:90%;
    margin-top:10px;
    border-radius: 7px;
  }
</style>
<body>

<div class="w3-container container-custom">

  <div class="w3-card-12 w3-card-12-custom">
    <a href="live.html"><img src="resource/images/live.JPG" class="card-img" alt="live"></a>
    <div class="w3-container w3-center">
      <p>Live</p>
    </div>
  </div>
  <div class="w3-card-12 w3-card-12-custom">
    <a href="history.html"><img src="resource/images/history.JPG" alt="history" class="card-img" ></a>
    <div class="w3-container w3-center">
      <p>History</p>
    </div>
  </div>

</div>



</body>
</html>

