{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>history</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'resource/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'resource/css/jquery-ui.min.css' %}">
    <link rel="stylesheet"  href="{% static 'resource/c3/c3.min.css' %}">

    <script src="{% static 'resource/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'resource/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'resource/js/common.js' %}"></script>
    <script src="{% static 'resource/d3/d3.v3.js' %}"></script>
    <script src="{% static 'resource/c3/c3.min.js' %}"></script>

    <style>
    body,h1,h2,h3,h4,h5 {font-family: sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
    table th, table td {border:1px solid #ccc;}


    </style>
</head>
<body onresize="bodyOnresize()">
<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold" id="mySidenav"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-padding-xlarge w3-hide-large w3-display-topleft w3-hover-white" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64">The OBD on the load</h3>
  </div>
  <a href="#" onclick="w3_close();window.location.assign('{% url 'home' %}');" class="w3-padding w3-hover-white">MENU</a>
  <a href="#" onclick="w3_close();window.location.assign('{% url 'live' %}');" class="w3-padding w3-hover-white">Live Page</a>
  <!--<a href="#" onclick="settingOnclick()" class="w3-padding w3-hover-white">Setting</a> -->
</nav>
  <div class="w3-display-container w3-large" style="width:100%;height:40px;">
      <div class="w3-display-right" style="margin:10px;">
        <button class="w3-btn w3-large w3-round w3-blue w3-border" style="font-size:15px!important;padding:5px 12px 5px 12px;" onclick="searchOnClick()">Search</button>

        <button class="w3-btn w3-large w3-grey w3-round w3-border graph-button" style="font-size:15px!important;padding:5px 7px 5px 7px;" onclick="chartOnClick()">Show Graph</button>
      </div>
  </div>
<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding ">
  <a href="javascript:void(0)" class="w3-btn w3-blue  w3-margin-right" onclick="w3_open()">☰</a>

  <div class="w3-display-container w3-show-inline-block w3-right" style="padding-top:4px;">
    <button class="w3-btn w3-large w3-round w3-white w3-border" style="font-size:15px!important;padding:5px 12px 5px 12px;" onclick="searchOnClick()">Search</button>

    <button class="w3-btn w3-large w3-grey w3-round w3-border graph-button" style="font-size:15px!important;padding:5px 7px 5px 7px;" onclick="chartOnClick()">Show Graph</button>
  </div>
</header>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
      <div class="w3-display-container" id="searchCondDiv" style="margin-top:50px;margin-bottom:10px;height:120px;">
          <form>
              <div class="w3-row" style="padding-bottom:10px;">
                  <div class="w3-col s4" style="padding-top:2px;padding-left:20px;">From Date</div>
                  <div class="w3-col s8"><input type="text" id="from" name="from" class="w3-border" style="text-align:center;"></div>
             </div>
              <div class="w3-row" style="padding-bottom:10px;">
                  <div class="w3-col s4" style="padding-top:2px;padding-left:20px;">To Date</div>
                  <div class="w3-col s8"><input type="text" id="to" name="to" class="w3-border" style="text-align:center;"></div>
             </div>
            <div class="w3-accordion">
               <div class="w3-row">
                   <div class="w3-col s4" style="padding-left:20px;">Sensor type</div>
                   <div class="w3-col s8"style="">
                        <input class="w3-check" type="radio" id="allSensor" checked="checked" name="sensorRadio" value="allSensor" onclick="onclickSensorBtn(this,'selectSensorDiv')">
                        <label class="w3-validate" for="allSensor" style="padding-right:20px;">all</label>
                        <input class="w3-check" type="radio" id="selectSensor" value="selectSensor" name="sensorRadio" onclick="onclickSensorBtn(this,'selectSensorDiv')">
                        <label class="w3-validate" for="selectSensor">select sensor</label>
                   </div>
                </div>
                <div id="selectSensorDiv" class="w3-accordion-content w3-container w3-light-grey w3-padding-8" style="z-index:1000">
                </div>
            </div>
          </form>
      </div>
     <div id="chart" style="display:none; margin:25px;text-aglin:left;">

    </div>
    <!-- Sensor list  -->
    <!--<div class="w3-container" style="padding-left:20px;">
       Total : <span id="totalCount">0</span>
    </div>-->
    <div class="w3-container" id="listTableDivWrap">
      <div style="float:left;width:160px;" id="listTableDiv1">
        <div class="w3-responsive">

            <table class="w3-table-all w3-hoverable" id="listTable1">
                <thead>
                    <tr class="w3-light-blue">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      <div  style="float:left;" id="listTableDiv2">
        <div class="w3-responsive">

            <table class="w3-table-all w3-hoverable" id="listTable2">
                <thead>
                    <tr class="w3-light-blue">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>


    <!-- Modal page for Sensor Setting menu -->
    <div id="settingModal" class="w3-modal w3-animate-opacity" style="color:#000000;">
        <div class="w3-modal-content w3-card-8">
          <header class="w3-container w3-gray">
            <span onclick="document.getElementById('settingModal').style.display='none'" class="w3-closebtn">&times;</span>
            <h2>Setting</h2>
          </header>
          <div class="w3-container" id="list-sensor">
              <ul class="w3-ul w3-card-10">

              </ul>
          </div>
         <footer class="w3-container w3-gray">
          <p></p>
         </footer>
       </div>
    </div>
<!-- End page content -->
</div>

<script>
var sensorObj = {  dataObj :{
                            kpl:{mid:30,max:100,value:0,title:"KPL",unit:"km/l",openYN:true,keyYn:true},
                            vss:{mid:60,max:300,value:0,title:"SPEED",unit:"km/h",openYN:true,keyYn:false},
                            maf:{mid:35,max:160,value:0,title:"MAF",unit:"g/s",openYN:true,keyYn:false},
                            rpm:{mid:50,max:100,value:0,title:"RPM",unit:"",openYN:true,keyYn:false},
                            control_module_voltage:{mid:50,max:100,value:0,title:"Control Module",unit:"Volt",openYN:true,keyYn:false},
                            fuel_level:{mid:50,max:100,value:0,title:"Fuel level",unit:"%",openYN:true,keyYn:false},
                            coolant_temp:{mid:50,max:100,value:0,title:"Coolant Temp",unit:"°C",openYN:true,keyYn:false},
                            ambient_air_temp:{mid:50,max:100,value:0,title:"Ambient Air Temp",unit:"°C",openYN:true,keyYn:false},
                            oil_temp:{mid:50,max:100,value:0,title:"Oil Temp",unit:"°C",openYN:true,keyYn:false},
                            intake_temp:{mid:50,max:100,value:0,title:"Intake Air Temp",unit:"°C",openYN:true,keyYn:false}
                        },
                        makeSensorList : function(){
                            var closeButtonObj = document.createElement('span');
                            var searchButtonObj = document.createElement('span');

                            $("#selectSensorDiv").html("");


                            $(closeButtonObj).addClass("w3-btn w3-large w3-round w3-blue w3-border w3-right")
                                             .text("close")
                                             .click(function(){
                                                  $("#selectSensorDiv").removeClass("w3-show");
                                              }).appendTo($("#selectSensorDiv"));

                            $(searchButtonObj).addClass("w3-btn w3-large w3-round w3-white w3-border w3-right")
                                             .css("margin-right","10px")
                                             .text("Search")
                                             .click(function(){
                                                  searchOnClick();
                                              }).appendTo($("#selectSensorDiv"));

                            $("#selectSensorDiv").append("<br>");

                            for(var index in this.dataObj) {
                                this.makeTag(index);
                                $("#selectSensorDiv").append("<br>");
                            }

                        },
                        makeTag : function(sensorName){
                            var inputObj = document.createElement('input');
                            var labelObj = document.createElement('label');

                                $(inputObj).addClass("w3-check w3-padding-4")
                                           .attr("id",sensorName)
                                           .attr("name","chkList")
                                           .attr("type","checkbox").appendTo($("#selectSensorDiv"));
                                $(labelObj).addClass("w3-validate w3-padding-4")
                                           .attr("style","padding-right:20px;")
                                           .attr("for",sensorName)
                                           .text(" "+this.dataObj[sensorName].title)
                                           .appendTo($("#selectSensorDiv"));


                        },
                        selectColList : [],
                        resultlist : [],
                        chartList : [],
                        totalCount : 0,
                        period : 0,
                        makeTable : function(obj){
                            var thObj;
                            var tdObj;
                            var trObj;
                            var timeValue;
                            this.selectColList = obj.selectColList;
                            this.resultlist = obj.list;
                            this.totalCount = obj.totalCount;
                            this.period = obj.period;
                            //$("#totalCount").text(this.totalCount);
                            $("#listTable1 thead tr").html("");
                            $("#listTable1 tbody").html("");
                            $("#listTable2 thead tr").html("");
                            $("#listTable2 tbody").html("");
                            //time
                            for(var i in this.selectColList) {
                                for(var j in this.resultlist[i]) {
                                    if(this.selectColList[i] == "time"){
                                        if(j==0){
                                            thObj = document.createElement('th');
                                            $(thObj).text("Sensor")
                                                     .css("text-align","center")
                                                     .css("min-width","150px")
                                                     .appendTo($("#listTable1 thead tr"));

                                        }
                                         thObj = document.createElement('th');
                                         timeValue = (this.resultlist[i][j].length > 12) ? this.resultlist[i][j].substr(10) : this.resultlist[i][j];

                                        $(thObj).text(timeValue).css("text-align","center").css("min-width","130px").appendTo($("#listTable2 thead tr"));
                                    } else {
                                        if(j==0){
                                            trObj = document.createElement('tr');
                                            tdObj = document.createElement('td');
                                            $(tdObj).text(this.dataObj[this.selectColList[i]].title).css("text-align","left").css("min-width","150px").appendTo($(trObj));
                                            $(trObj).appendTo($("#listTable1 tbody"));

                                            trObj = document.createElement('tr');
                                         }

                                        tdObj = document.createElement('td');
                                        $(tdObj).text(this.resultlist[i][j]).css("text-align","right").css("min-width","130px").appendTo($(trObj));


                                        if(j == this.resultlist[i].length-1){
                                            $(trObj).appendTo($("#listTable2 tbody"));
                                        }
                                    }

                                }
                            }

                            this.makeChartObj();

                         },
                         makeChartObj : function(){
                           this.chartList = [];

                           for(var i=0; i< this.resultlist.length; i++) {
                                this.chartList.push(this.resultlist[i]);
                                this.chartList[i].splice(0, 0, this.selectColList[i]);

                                if(this.selectColList[i]=="time"){
                                    for(var j=1; j < this.resultlist[i].length; j++) {
                                        this.chartList[i][j] = new Date(this.chartList[i][j]);
                                    }
                                }
                            }

                            $("#chart").addClass("w3-show");
                            $(".graph-button").text("Hide Graph");
                            console.log(this.chartList);
                             sensorObj.drawChart();
                         },
                         chart : null,
                         drawChart : function(){
                           if( this.chartList.length < 2 )
                               return;
                           //$("#chart").width($("#listTableDivWrap").width()*0.95);
                           var timeFormat = (this.period > 0) ? "%Y/%m/%d":"%H:%M";

                           this.chart = c3.generate({
                                bindto: '#chart',
                                data: {
                                  x : 'time',
                                  xFormat : timeFormat,
                                  columns: this.chartList
                                },
                                point: {
                                    show: false
                                },
                                axis : {
                                  x : {
                                    type : 'timeseries',
                                    tick : {
                                       count: 5,
                                      format : timeFormat // https://github.com/mbostock/d3/wiki/Time-Formatting#wiki-format
                                    }
                                  }
                                }
                              });

                         }

                      };

$(document).ready(function(){

    $("#listTableDiv2").width( $("#listTableDivWrap").width() - $("#listTableDiv1").width()-15);
    var dateFormat = "yy-mm-dd",
                      from = $( "#from" )
                        .datepicker({
                          defaultDate: "+1w",
                          changeMonth: true,
                          numberOfMonths: 1,
                          dateFormat : "yy-mm-dd"
                        })
                        .on( "change", function() {
                          to.datepicker( "option", "minDate", getDate( this ) );
                        }),
                      to = $( "#to" ).datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat : "yy-mm-dd"
                      })
                      .on( "change", function() {
                        from.datepicker( "option", "maxDate", getDate( this ) );
                      });
    //setting today
    var today = setDateFormat(new Date());
    $("#from").datepicker( "setDate", today );
    $("#to").datepicker( "setDate", today );

    //init make tag
    sensorObj.makeSensorList();

    //auto search
    searchOnClick();


});

function diffDays(fromday,today) {
    var start = new Date(fromday);
    var end = new Date(today);
    var diff = new Date(end - start);
    if(!start || !end)
        return;

    var days = diff/1000/60/60/24;
    return days;
}

function searchOnClick(){
     callHistory();
     onclickSensorBtn("selectSensor","selectSensorDiv");
}

function chartOnClick(){
   //handle button obj and show chart division area


   if($("#chart").css("display") == "none"){
        $("#chart").addClass("w3-show");
         sensorObj.drawChart();
        $(".graph-button").text("Hide Graph");
    } else {
        $("#chart").removeClass("w3-show");
        $(".graph-button").text("Show Graph");
        $("#chart").html("");
    }

}

function bodyOnresize(){
    if($("#chart").css("display") != "none" && sensorObj.chart != null){

        sensorObj.chart.resize();
    }
    if($(".w3-sidenav").css("display") == "none"){
        $("#listTableDiv2").width( $(this).width() - $("#listTableDiv1").width()-70);
    } else {
        $("#listTableDiv2").width( $(this).width() - $("#listTableDiv1").width()-450);
    }
}

function callHistory() {
        var fromday = $("#from").val();
        var today = $("#to").val();
        var list = [];
        var diffday = diffDays(fromday,today);
        if(diffday < 0 ){
            alert("select a period again..");
            return;
        }

        if( $("input:radio[name='sensorRadio']:checked").val() == "selectSensor"){
             $(":checkbox[name='chkList']:checked").each(function(pi,po){
              list.push(po.id);
             });
        }

        if(list.length == 0){
            $(":checkbox[name='chkList']").each(function(pi,po){
              list.push(po.id);
             });

        }

        var listQuery = (list.length > 0) ? "&list="+list.join(",") : "&list=";
        var paramString = "?fromDate="+fromday+" 00:00:00"
                        +"&toDate="+today+" 23:59:59"
                        +"&period="+diffday
                        +listQuery;

        callService(paramString);
    }
function callService(paramValue){
      var xhttp;
      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
          var rsObj = JSON.parse(this.responseText);
          if(isNotEmpty(rsObj)){
             sensorObj.makeTable(rsObj);
          } else {
             // alert("No result data..");
          }
         }
      };
      xhttp.open("GET", "getHistoryData_list/"+paramValue, true);
      xhttp.send();
    }
function onclickSensorBtn(obj,id) {
    var x = document.getElementById(id);
    if (obj.id == "selectSensor") {
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          $("#selectSensor").attr("checked",true);
        }
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
//jquery datepicker function
function getDate( element ) {
  var date;
  try {
         date = $.datepicker.parseDate( dateFormat, element.value );
  } catch( error ) {
    date = null;
  }
  return date;
}
</script>

</body>
</html>

