{% load staticfiles %}
<!DOCTYPE html>
<title>Live</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'resource/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'resource/css/live.css' %}">
<script src="{% static 'resource/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'resource/js/common.js' %}"></script>
<body>
<div class="w3-container container-custom">
    <div class="search-zone ">
        <div>
            <button class="w3-btn w3-round-large w3-small w3-khaki w3-hover-orange" style="margin-top:5px;" onclick="window.location.assign('{% url 'live_graph' %}');">Graph</button>
            <button class="w3-btn w3-round-large w3-small w3-khaki w3-hover-orange" style="margin-top:5px;" onclick="settingOnclick()">Setting</button>
            <button class="w3-btn w3-round-large w3-small w3-green w3-hover-orange" style="margin-top:5px;" onclick="window.location.assign('{% url 'home' %}');">Menu</button>
        </div>
    </div>
    <div class="circleWrap">

    </div>
    <div id="settingModal" class="w3-modal w3-animate-opacity" style="color:#000000;">
        <div class="w3-modal-content w3-card-8">
          <header class="w3-container w3-gray">
            <span onclick="document.getElementById('settingModal').style.display='none'" class="w3-closebtn">&times;</span>
            <h2>Setting Live Page - control visible </h2>
          </header>
          <div class="w3-container" id="list-sensor">
              <ul class="w3-ul w3-card-10">

              </ul>
          </div>
         <footer class="w3-container w3-gray">
          <p></p>
         </footer>
       </div>
    </div>
</div>
<script>
    //dashboard
     var sensorObj = {  time:{value:"00:00:00",title:"Time",unit:setDateFormat(new Date()),openYN:true},
                        kpl:{mid:30,max:100,value:0,title:"KPL",unit:"km/l",openYN:true},
                        vss:{mid:60,max:300,value:0,title:"SPEED",unit:"km/h",openYN:true},
                        maf:{mid:35,max:160,value:0,title:"MAF",unit:"g/s",openYN:true},
                        rpm:{mid:50,max:100,value:0,title:"RPM",unit:"",openYN:true},
                        control_module_voltage:{mid:50,max:100,value:0,title:"Control Module Volt",unit:"V",openYN:true},
                        fuel_level:{mid:50,max:100,value:0,title:"Fuel level",unit:"%",openYN:true},
                        coolant_temp:{mid:50,max:100,value:0,title:"Coolant Temp",unit:"°F",openYN:true},
                        ambient_air_temp:{mid:50,max:100,value:0,title:"Ambient Air Temp",unit:"°F",openYN:true},
                        oil_temp:{mid:50,max:100,value:0,title:"Oil Temp",unit:"°F",openYN:true},
                        intake_temp:{mid:50,max:100,value:0,title:"Intake Air Temp",unit:"°F",openYN:true},

                        initValue : function(){
                            for(var attr in this) {
                                attr.value = 0;
                            }
                        },
                        makeTagAll : function(){
                            $(".circleWrap").html("");
                            $("#list-sensor ul").html("");
                            for(var index in this) {
                                if(typeof this[index]  == 'object'){
                                   this.makeTag(index).appendTo($(".circleWrap"));
                                   this.makeModalListTag(index).appendTo($("#list-sensor ul"));
                                }

                            }
                        },
                        makeModalListTag :function(sensorName){
                            var liObj = document.createElement('li');
                            var spanObj = document.createElement('span');
                            var labelObj = document.createElement('label');
                            var inputObj = document.createElement('input');
                            $(labelObj).addClass("w3-validate")
                                       .text(this[sensorName].title);
                            $(inputObj).addClass("w3-check  w3-margin-right")
                                       .attr("type","checkbox")
                                       .attr("checked","checked");
                            $(spanObj).addClass("w3-closebtn w3-margin-right w3-medium")
                                       .attr("sensor",sensorName)
                            $(spanObj).append("Display!");

                            return $(liObj).append(labelObj).append(spanObj);
                        },
                        makeTag : function(sensorName){
                            var divObj = document.createElement('div');
                            var spanObj = document.createElement('span');

                                $(divObj).addClass("small-box")
                                         .attr("id",sensorName);

                                if(this[sensorName]["title"].length > 5 ){
                                    $(spanObj).addClass("title-small-font");
                                } else {
                                    $(spanObj).addClass("title");
                                }
                                $(spanObj).text(this[sensorName]["title"]);
                                $(divObj).append(spanObj);
                                $(divObj).append("<br/>");

                                spanObj = document.createElement('span');
                                $(spanObj).addClass("value");
                                $(spanObj).text(this[sensorName]["value"]);
                                $(divObj).append(spanObj);
                                $(divObj).append("<br/>");

                                spanObj = document.createElement('span');
                                $(spanObj).addClass("unit");
                                $(spanObj).text(this[sensorName]["unit"]);
                                $(divObj).append(spanObj);
                                $(divObj).append("<br/>");
                                return $(divObj);

                        },
                        setValue : function(list){
                            for(var index in this) {
                                if(typeof this[index]  == 'object' ){
                                    this[index]["value"] = isNotEmpty(list[index])? list[index]:0;
                                }
                              }
                        },
                        setCircleCss : function(index){
                            var nomalRatio, warningRatio;
                            var styleText = "";
                            var divObj;

                            nomalRatio = Math.round(this[index]["value"]/this[index]["max"]*100);

                            if(this[index]["value"] > this[index]["mid"]){
                                warningRatio = Math.round(nomalRatio/1.6);
                                styleText = this.getCss(warningRatio,nomalRatio);
                            }
                            $("#"+index).css("background", styleText);
                        },
                        getCss : function(warning,normal){
                            return "linear-gradient(to bottom left, #ffcccc "+warning+"%, #8cfaf5 "+normal+"%)";
                        },
                        displayData : function(list){
                            //set Value
                             this.setValue(list);

                            for(var index in this) {
                                if(index == "time"){
                                     //time infomation split
                                     var timeValue = this.time.value;
                                     var timeList = timeValue.split(" ");
                                     $("#"+index+" .value").text(timeList[1]); //time Info
                                     $("#"+index+" .unit").text(timeList[0]); //date Info
                                } else {
                                    $("#"+index+" .value").text(this[index].value); //time Info
                                }

                                //make background color
                                this.setCircleCss(index);
                            }
                          }

                      };

    $(document).ready(function(){
        //make tags
        sensorObj.makeTagAll();

       /* $(".small-box").click(function(){
            $(this).hide();
        }); */
        $("[sensor]").click(function(){
            var id = $(this).attr("sensor");
            $(this).toggleClass("w3-text-gray");

             if($(this).text()=="Display!"){

                 $("#"+id).hide();
                 $(this).text("Hide!");
                 sensorObj[id]["openYN"]= false;
             } else {
                $("#"+id).show();
                $(this).text("Display!");
                sensorObj[id]["openYN"]= true;
             }
         });
         //call live data every second
         setInterval(function(){
            callLive();
          }, 1000);

    });


    function callLive() {
      var xhttp;

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
        } else {
        // code for IE6, IE5 ..
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          var rsObj = JSON.parse(this.responseText);
         // console.log(rsObj);
          if(isObject(rsObj)){
              sensorObj.displayData(rsObj);
          } else {
              alert("No result data..");
          }

        }
      };
      xhttp.open("GET", "getLiveData", true);
      xhttp.send();
    }

    function settingOnclick(){
        document.getElementById('settingModal').style.display='block';
    }
</script>
</body>
</html>

