{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>Live</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'resource/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'resource/css/live.css' %}">
<script src="{% static 'resource/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'resource/js/common.js' %}"></script>
<script src="{% static 'resource/googleGraph/loader.js' %}"></script>
<body>
<div class="w3-container container-custom">
    <div class="search-zone ">
        <div>
            <button class="w3-btn w3-round-large w3-small w3-khaki w3-hover-orange" style="margin-top:5px;" onclick="window.location.assign('{% url 'live' %}');">Simple</button>
            <button class="w3-btn w3-round-large w3-small w3-khaki w3-hover-orange" style="margin-top:5px;" onclick="settingOnclick()">Setting</button>
            <button class="w3-btn w3-round-large w3-small w3-green w3-hover-orange" style="margin-top:5px;" onclick="window.location.assign('{% url 'home' %}');">Menu</button>
        </div>
    </div>

    <div id="chart_div" style="width:100%;"></div>


    <div id="settingModal" class="w3-modal w3-animate-opacity" style="color:#000000;">
        <div class="w3-modal-content w3-card-8">
          <header class="w3-container w3-gray">
            <span onclick="document.getElementById('settingModal').style.display='none'" class="w3-closebtn">&times;</span>
            <h2>Setting Live Page - control visible </h2>
          </header>
          <div class="w3-container" id="list-sensor">
              <ul class="w3-ul w3-card-10">

              </ul>
          </div>
         <footer class="w3-container w3-gray">
          <p></p>
         </footer>
       </div>
    </div>
</div>
<script>
    //dashboard
     var sensorObj = {  data:{
                            kpl:{mid:100,max:200,value:0,title:"KPL",unit:"km/l",openYN:true},
                            vss:{mid:150,max:300,value:0,title:"SPEED",unit:"km/h",openYN:true},
                            maf:{mid:70,max:160,value:0,title:"MAF",unit:"g/s",openYN:true},
                            rpm:{mid:50,max:100,value:0,title:"RPM",unit:"",openYN:true},
                            control_module_voltage:{mid:50,max:100,value:0,title:"Control Module",unit:"V",openYN:true},
                            fuel_level:{mid:50,max:100,value:0,title:"Fuel Level",unit:"%",openYN:true},
                            coolant_temp:{mid:50,max:100,value:0,title:"Coolant Temp",unit:"°F",openYN:true},
                            ambient_air_temp:{mid:50,max:100,value:0,title:"Ambient Air",unit:"°F",openYN:true},
                            oil_temp:{mid:50,max:100,value:0,title:"Oil Temp",unit:"°F",openYN:true},
                            intake_temp:{mid:50,max:100,value:0,title:"Intake Air",unit:"°F",openYN:true}
                        },
                        initValue : function(){
                            var obj = sensorObj.obj;
                            for(var attr in obj) {
                                obj[attr].value = 0;
                            }
                        },
                        setModalList : function(){
                            $("#list-sensor ul").html("");

                            for(var index in this.data) {
                                this.makeModalListTag(index).appendTo($("#list-sensor ul"));

                            }
                        },
                        makeModalListTag :function(sensorName){
                            var liObj = document.createElement('li');
                            var spanObj = document.createElement('span');
                            var labelObj = document.createElement('label');
                            var inputObj = document.createElement('input');
                            $(labelObj).addClass("w3-validate")
                                       .text(this["data"][sensorName]["title"]);
                            $(inputObj).addClass("w3-check  w3-margin-right")
                                       .attr("type","checkbox")
                                       .attr("checked","checked");
                            $(spanObj).addClass("w3-closebtn w3-margin-right w3-medium")
                                       .attr("sensor",sensorName)
                            $(spanObj).append("Display!");

                            return $(liObj).append(labelObj).append(spanObj);
                        },
                        displayData : function(list){
                            var obj = sensorObj.data;
                            var data,options,chart;
                            //set Value
                            this.setValue(list);

                             for(var index in obj) {
                               console.log(obj[index]);
                               data = obj[index].data;
                               options = obj[index].options;
                               chart = obj[index].chart;

                               data.setValue(0, 1, obj[index].value);
                               chart.draw(data, options);
                            }
                        },
                        getChartArray(obj){
                            var list = [];
                            list.push(['Label', 'Value']);
                            list.push([obj.title, obj.value]);
                            return list;
                        },
                        drawChartAll: function(){
                            var divTag;
                            var obj = sensorObj.data;
                            var data,options;
                            var list;
                            $("#chart_div").html("");

                            for(var index in obj) {
                                list = sensorObj.getChartArray(obj[index]);

                                divTag = document.createElement('div');
                                $(divTag).attr("id",index);
                                $(divTag).addClass("display-inline-block");
                                $("#chart_div").append(divTag);

                                data = google.visualization.arrayToDataTable(list);
                                options = {
                                  width: chartWidth, height: chartWidth,
                                  min : obj[index].min, max: obj[index].max,
                                  yellowFrom:  obj[index].mid, yellowTo: obj[index].mid+Math.round(obj[index].max*0.3),
                                  redFrom: obj[index].mid+Math.round(obj[index].max*0.3), redTo: obj[index].max,
                                  minorTicks: 5
                                };

                                var chart = new google.visualization.Gauge(document.getElementById(index));

                                chart.draw(data, options);

                                sensorObj.data[index].chart = chart;
                                sensorObj.data[index].data = data;
                                sensorObj.data[index].options = options;

                            }
                        },
                        setValue : function(list){
                            var obj = this.data;
                            for(var index in obj) {
                                  obj[index]["value"] = isNotEmpty(list[index])? list[index]:0;
                              }
                        }
                      };

    var chartWidth;
    var chartHeight;

    $(document).ready(function(){

       chartWidth = (Math.round($("#chart_div").width())*0.9> 400 || Math.round($("#chart_div").width())*0.9 < 200  ) ? 200: (Math.round($("#chart_div").width())*0.9)/2;


       //draw chart
       google.charts.load('current', {'packages':['gauge']});
       google.charts.setOnLoadCallback(sensorObj.drawChartAll);

        //make setting modal list
        sensorObj.setModalList();

        $("[sensor]").click(function(){
            var id = $(this).attr("sensor");
            $(this).toggleClass("w3-text-gray");

             if($(this).text()=="Display!"){

                 $("#"+id).hide();
                 $(this).text("Hide!");
                 sensorObj[id]["openYN"]= false;
             } else {
                $("#"+id).show();
                $(this).text("Display!");
                sensorObj[id]["openYN"]= true;
             }
         });

         //call live data every second
         setInterval(function(){
            callLive();
          }, 1000);


    });


    function callLive() {
      var xhttp;

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
        } else {
        // code for IE6, IE5 ..
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          var rsObj = JSON.parse(this.responseText);

          if(isObject(rsObj)){
              sensorObj.displayData(rsObj);
          } else {
              //alert("No result data..");
          }

        }
      };
      xhttp.open("GET", "getLiveData", true);
      xhttp.send();
    }

    function settingOnclick(){
        document.getElementById('settingModal').style.display='block';
    }
</script>
</body>
</html>

